In [1]:
import pandas as pd

file_path = '/content/Day_8_sales_data.csv'
data = pd.read_csv(file_path)

print("First 5 rows of the dataset:")
print(data.head())
sales_above_1000 = data[data['Sales'] > 1000]
print("\nRows where Sales > 1000:")
print(sales_above_1000)

sales_east_region = data[data['Region'] == "East"]
print("\nSales records for the 'East' region:")
print(sales_east_region)

data['Profit_Per_Unit'] = data['Profit'] / data['Quantity']
print("\nDataset with 'Profit_Per_Unit' column added:")
print(data.head())
data['High_Sales'] = data['Sales'].apply(lambda x: 'Yes' if x > 1000 else 'No')
print("\nDataset with 'High_Sales' column added:")
print(data.head())

First 5 rows of the dataset:
         Date Product Region    Sales  Profit  Quantity
0  2023-01-02  Tablet   East  1061.81  236.12         7
1  2023-01-06  Laptop  North  1926.07  246.34         8
2  2023-01-03  Tablet   East  1597.99  253.17         3
3  2023-01-20  Tablet  North  1397.99  242.23         1
4  2023-01-04  Laptop   West   734.03  140.36         4

Rows where Sales > 1000:
          Date     Product Region    Sales  Profit  Quantity
0   2023-01-02      Tablet   East  1061.81  236.12         7
1   2023-01-06      Laptop  North  1926.07  246.34         8
2   2023-01-03      Tablet   East  1597.99  253.17         3
3   2023-01-20      Tablet  North  1397.99  242.23         1
7   2023-01-07  Smartphone   East  1799.26  364.97         4
8   2023-01-11  Smartphone   West  1401.67  306.24         2
9   2023-01-01      Laptop  North  1562.11  170.72         6
11  2023-01-12      Laptop   West  1954.86  262.16         4
12  2023-01-09     Monitor  North  1748.66  197.62         6
17  2023-01-18     Monitor   West  1287.13  153.86         7
18  2023-01-13      Tablet   West  1147.92  271.88         9

Sales records for the 'East' region:
          Date     Product Region    Sales  Profit  Quantity
0   2023-01-02      Tablet   East  1061.81  236.12         7
2   2023-01-03      Tablet   East  1597.99  253.17         3
6   2023-01-14    Keyboard   East   587.13   82.16         8
7   2023-01-07  Smartphone   East  1799.26  364.97         4
14  2023-01-08      Laptop   East   772.74  226.51         2

Dataset with 'Profit_Per_Unit' column added:
         Date Product Region    Sales  Profit  Quantity  Profit_Per_Unit
0  2023-01-02  Tablet   East  1061.81  236.12         7        33.731429
1  2023-01-06  Laptop  North  1926.07  246.34         8        30.792500
2  2023-01-03  Tablet   East  1597.99  253.17         3        84.390000
3  2023-01-20  Tablet  North  1397.99  242.23         1       242.230000
4  2023-01-04  Laptop   West   734.03  140.36         4        35.090000

Dataset with 'High_Sales' column added:
         Date Product Region    Sales  Profit  Quantity  Profit_Per_Unit  \
0  2023-01-02  Tablet   East  1061.81  236.12         7        33.731429
1  2023-01-06  Laptop  North  1926.07  246.34         8        30.792500
2  2023-01-03  Tablet   East  1597.99  253.17         3        84.390000
3  2023-01-20  Tablet  North  1397.99  242.23         1       242.230000
4  2023-01-04  Laptop   West   734.03  140.36         4        35.090000

  High_Sales
0        Yes
1        Yes
2        Yes
3        Yes
4         No